{% extends "Default/index.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('configsave') }}

{% endblock %}


{% block subcontent %}
    <use xlink:href="https://italia.github.io/bootstrap-italia/dist/svg/sprite.svg"></use>
    <div class="section">

        <div class="col-lg-12 mx-auto">

            <div id="collapseDiv2" class="collapse-div" role="tablist">

                {% for object  in visible_objects %}

                    <div class="collapse-header" id="heading1a">
                        <button data-toggle="collapse" data-target="#collapse{{ object.evento.id }}" aria-expanded="true" aria-controls="collapse1a">
                            Evento: {{object.evento.evento}} del {{ object.evento.dataEvento| date('Y-m-d') }} (codice: {{ object.evento.codiceEvento }})
                        </button>
                    </div>
                    <div id="collapse{{ object.evento.id }}" class="collapse show" role="tabpanel" aria-labelledby="heading1b">
                        <div class="collapse-body">


                            {% for item in object.circoscrizioni %}
                                {% set circoscrizione = item.circoscrizione %}
                                Circoscrizione: {{ circoscrizione.circDesc}} (id: {{ circoscrizione.idTarget }})

                                <table class="table table-sm table-responsive-sm table-striped bitable table-hover">
                                    <thead>
                                        <tr> 

                                            <th scope="col">Ordine Candidato</th>
                                            <th scope="col">Nome lista</th>
                                            <th scope="col">Nome Candidato</th>
                                            <th scope="col">Cognome Candidato</th>
                                            <th scope="col">Ordine Lista</th>
                                            <th scope="col">Zona</th>
                                            <th scope="col">Tipo lista</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for key,candidatoListe in item.candidati %}
                                            {% set candidato = candidatoListe.candidato %}

                                            {% for keylp,listaPreferenza in candidatoListe.liste %}
                                                {% set lista = listaPreferenza.lista %}

                                                <tr>
                                                    <th scope="row">{{key}}</th>
                                                    <td>{{lista.listaDesc}}</td>
                                                    <td>{{candidato.nome|upper}}</td>
                                                    <td>{{candidato.cognome|upper}}</td>
                                                    <td>{{keylp}}</td>
                                                    <td>1</td>
                                                    <td>LSS</td>
                                                </tr>           

                                            {% endfor %}


                                        {% endfor %}
                                    </tbody>
                                </table>






                            {% endfor %}

                        </div>
                    </div>

                {% endfor %}
                <button type="button" class="btn btn-primary csvbutton" data-filename="candidati_principali_LSS.csv">Export Csv</button>
                
                <a href="{{ path('downCSVxSource') }}">
                    <button type="button" class="btn btn-primary">{{  'buttons.go-back'|trans({}, 'App') }}</button>
                </a>

            </div>
        </div>

    </div>

{% endblock %}
