{% extends "Default/index.html.twig" %}

{% block subcontent %}


<div class="col-lg-10 mx-auto">

<div class="row">
  <div class="col-12 col-lg-12">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg">
        <div class="card-body">
          <h5 class="card-title">{{  'download.csv.main-cand'|trans({}, 'App') }}</h5>
          <p class="card-text"></p>
        <div class="it-card-footer">

          <a href="{{'/service/downCSVCandPrincxSource/'~  evento}}">
            <button type="button" class="btn btn-primary">{{  'buttons.action-exec'|trans({}, 'App') }}</button>
          </a>
        
        </div>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-12">
    <!--start card-->
    <div class="card-wrapper card-space">
      <div class="card card-bg">
        <div class="card-body">
          <h5 class="card-title">{{  'download.csv.list'|trans({}, 'App') }}</h5>
          <p class="card-text"></p>
          <div class="it-card-footer">
           <a href="{{'/service/downCSVCandSecxSource/'~  evento}}">
    
            <button type="button" class="btn btn-primary">{{  'buttons.action-exec'|trans({}, 'App') }}</button>
          </a>
         
          </div>
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
</div>
<a href="{{ path('welcome') }}">
 <button type="button" class="btn btn-primary">{{  'buttons.go-back'|trans({}, 'App') }}</button>
 </a>
</div>


{% endblock %}
