{% extends "Default/index.html.twig" %}

{% block javascripts %}
      {{ encore_entry_script_tags('uploadDataCSV') }}
{% endblock %}


{% block subcontent %}
<use xlink:href="https://italia.github.io/bootstrap-italia/dist/svg/sprite.svg"></use>
<div class="section">

    <div class="col-lg-12 mx-auto">
         {% if (errorDelete) %}
            <div class="alert alert-danger" role="alert">
                Impossibile mettere ad off i dati precedenti
            </div>
        {% endif %}
        {% if ( not checkArrayValid) %}
            <div class="alert alert-danger" role="alert">
                Formato csv non valido, controllare il separatore che deve essere necessariamente il carattere -> ; e l'id sezione deve essere valido
            </div>
        {% endif %}

        {% if ( commit ) %}
            <div class="alert alert-success" role="success">
                Dati aggiornati
            </div>
        {% endif %}
        Scaricare il file e compilare i valori da caricare (Vengono mostrati solo i record con off a false e sent a 0)

        <table class="table table-sm table-responsive-sm table-striped bitable table-hover">
            <thead>
                <tr>
                    <td>evento_id</td>
                    <td>evento</td>
                    <td>circo_id</td>
                    <td>circ_desc</td>
                    <td>rxsezione_id</td>
                    <td>numero</td>
                    <td>descrizione</td>
                    <td>id_source</td>
                    <td>lista_preferenze_id</td>
                    <td>lista_desc</td>
                    <td>voti_tot_lista</td>
                    <td>timestamp</td>
                   

                </tr>
                <tbody>
            
                    {% set i= 0 %}
           
                    {% for record in records %}
                        {% set i= i+1 %}
                       
                       <tr class='tr'>
                            <td>{{ record.evento_id }}</td>
                            <td>{{ record.evento }}</td>
                            <td>{{ record.circo_id }}</td>
                            <td>{{ record.circ_desc}}</td>
                            <td>{{ record.rxsezione_id}}</td>
                            <td>{{ record.numero}}</td>
                            <td>{{ record.descrizione}}</td>
                           
                            <td>{{ record.id_source}}</td>
                            <td>{{ record.lista_preferenze_id}}</td>
                            <td>{{ record.lista_desc}}</td>
                            <td>{{ record.voti_tot_lista}}</td>
                            <td>{{ record.timestamp }}</td>
                           
                            
                        </tr>
                
                    {% endfor %}
                </tbody>
            </table>

            <button class="btn btn-primary btn-icon csvbutton" data-filename="scrutiniliste_{{evento_id}}.csv">
                <span class="rounded-icon">
                    <svg class="icon icon-primary">
                        <use xlink:href="#it-arrow-down"></use>
                    </svg>
                </span>
                <span>Download CSV</span>
            </button>
           
        </br>
    </br>
    <p class="font-weight-bold">
        Carica configurazione da file (Attenzione l'operazione
        <b> mette a off </b>
        i dati presenti)
    </p>
</br>
<div class="form-row">

    {{ form_start(form) }}
    {{ form_row(form.filecsv) }}<br>
        <br>
            <button class="btn btn-primary btn-icon">
                <span class="rounded-icon">
                    <svg class="icon icon-primary">
                        <use xlink:href="#it-arrow-up"></use>
                    </svg>
                </span>
                <span>Upload CSV e Salva</span>
            </button>
            {{ form_end(form) }}
        </div>

</div>
</br>
<div class="form-row">
    <div class="col-lg-12 mx-auto">
     {% set url = '/UploadDataByCsv/Event/'~ evento_id %}
<a href="{{ url }}"><button type="button" class="btn btn-primary">{{  'buttons.go-back'|trans({}, 'App') }}</button></a>
</div>
</div>
{% endblock %}
